.filter-container-wrapper {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 50px 10px;
    align-items: center;
}

.filter-container-search-box {
    margin: 0 10px;
}
